<div class="contextual">
  <% if User.current.allowed_to?(:edit_documents, @project) %>
      <%= link_to label_with_icon(l(:button_edit),'fa-edit'), edit_document_path(@document), :class => 'btn btn-primary', :accesskey => accesskey(:edit) %>
  <% end %>
  <% if User.current.allowed_to?(:delete_documents, @project) %>
      <%= delete_link document_path(@document) %>
  <% end %>
</div>

<h2><%= @document.title %></h2>

<p><em><%= @document.category.name %><br/>
  <%= format_date @document.created_on %></em></p>

<% if @document.custom_field_values.any? %>
    <ul>
      <% render_custom_field_values(@document) do |custom_field, formatted| %>
          <li><span class="label"><%= custom_field.name %>:</span> <%= formatted %></li>
      <% end %>
    </ul>
<% end %>

<div class="wiki">
  <%= textilizable @document, :description, :attachments => @document.attachments %>
</div>

<h3><%= l(:label_attachment_plural) %></h3>
<%= link_to_attachments @document %>

<% if authorize_for('documents', 'add_attachment') %>
    <%= link_to label_with_icon(l(:label_attachment_new),"fa-plus"), {}, :onclick => "$('#add_attachment_form').show(); return false;",
                   :id => 'attach_files_link', :class => "btn btn-info" %>

    <div class="m-t-1">
    <%= form_tag({:controller => 'documents', :action => 'add_attachment', :id => @document}, :multipart => true, :id => "add_attachment_form", :style => "display:none;") do %>
        <div class="box">
          <p><%= render :partial => 'attachments/form' %></p>
        </div>
        <button type="submit" name="commit" class="btn btn-success"><%= label_with_icon(l(:button_add),'fa fa-save') %></button>
    <% end %>
    </div>
<% end %>

<% html_title @document.title -%>
